<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Все пользователи:</h2>
<br>
<table border="1">
    <tr th:style="'font-weight: bold'">
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Возраст</td>
        <td>Действие</td>
    </tr>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <a th:href="@{/updateInfo(id=${user.id})}">Изменить</a>
            <a th:href="@{/deleteUser(id=${user.id})}">Удалить</a>
        </td>
    </tr>
</table>
<br>
<input type="button" value="Добавить"
       onclick="window.location.href = 'addNewUser'">
</body>
</html>